{% extends 'items/base.html' %}

{% block body %}
    <h2 class="page-info">Your Items</h2>
    <h5 class="page-info">Here's where you can manage the items in your inventory!</h5>

    <div class="row" id="button_row">
        <a href="{% url 'items:locations' %}" class="btn btn-primary">See Locations</a>
        <a href="{% url 'items:rooms' %}" class="btn btn-primary">See Rooms</a>
        <a href="{% url 'items:create_item' %}" class="btn btn-warning"><i class="fas fa-plus"></i> Add Item</a>

        <button class="btn btn-success dropdown-toggle" type="button" id="sortDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="sortDropdownButton">
            <a class="dropdown-item" href="{% url 'items:index_sorted' sort_by='name' %}">By Name</a>
            <a class="dropdown-item" href="{% url 'items:index_sorted' sort_by='location_id' %}">By Location</a>
        </div>
    </div>

    {% for item in item_list %}
        {% if item.created_by == user %}
            <a href="{% url 'items:item_detail' item.id %}" class="item-link">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../media/{{ item.image }}" height="150px" alt="">
                    </div>
                    <div class="col-md-4">
                        <h3>{{ item.name }}</h3>
                        <p>Quantity: {{ item.quantity }}</p>
                        <p>Room: {{ item.location_id.room_id }}</p>
                        <p>Location: {{ item.location_id }}</p>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}