{% extends 'items/base.html' %}

{% block body %}
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            <h2>Add/Edit Item</h2>
            {% csrf_token %}
            {{ item_form }}
            <a class="btn btn-warning" href="{% url 'items:create_location' %}"><i class="fas fa-plus"></i> Add Location</a>
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-success" onClick="history.back()">Cancel</button>
        </form>
    </div>
{% endblock %}