{% extends 'items/base.html' %}

{% block body %}
    <h2 class="page-info">Your Locations</h2>
    <h5 class="page-info">Here are the different locations in each of your rooms!</h5>

    <div class="row" id="button_row">
        <a href="{% url 'items:index' %}" class="btn btn-primary">Items</a>
        <a href="{% url 'items:locations' %}" class="btn btn-primary active">Locations</a>
        <a href="{% url 'items:rooms' %}" class="btn btn-primary">Rooms</a>
        <a href="{% url 'items:create_item' %}" class="btn btn-warning"><i class="fas fa-plus"></i> Add Item</a>

        <button class="btn btn-success dropdown-toggle" type="button" id="sortDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="sortDropdownButton">
            <a class="dropdown-item" href="{% url 'items:locations_sorted' sort_by='name' %}">By Name</a>
            <a class="dropdown-item" href="{% url 'items:locations_sorted' sort_by='room_id' %}">By Room</a>
        </div>
    </div>

    {% for location in location_list %}
        {% if location.created_by == user %}
            <a href="{% url 'items:location_detail' location.id %}" class="item-link">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../media/{{ location.image }}" height="150px" alt="">
                    </div>
                    <div class="col-md-4">
                        <h3>{{ location.name }}</h3>
                        <p>Room: {{ location.room_id }}</p>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}