body {
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.25), rgba(255,255,255,.9)), url("./bg.png") no-repeat center fixed;
    background-size: cover;
}

h1, h2, h3, .navbar-brand, label, .btn, .navbar a {
    font-family: 'Patua One', Arial, helvetica, sans-serif;
}

.navbar-brand {
    font-size: 2rem !important;
}

h4, h5, h6, p, form {
    font-family: 'Roboto', Arial, helvetica, sans-serif;
}

h4, h5, h6, p {
    font-weight: bold;
}

nav {
    background: linear-gradient(to right, #00b386, #00cc99, #00b386);
    width: 100%;
    margin: 0 auto;
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
    opacity: .75 !important;
}

.navbar a:active {
    opacity: .5 !important;
}

.container {
    width: 100%;
    margin: 0 auto;
    color: white;
}

.about h5 {
    margin-top: 1rem;
}

.page-info {
    color: #00664d;
    margin-top: 1.5rem;
}

img {
    box-shadow: 2px 2px 2px rgba(0,51,38,.25);
    max-width: 100%;
}

.item-link {
    color: white;
}

.item-link:hover {
    color: rgba(255,255,255,.75) !important;
}

.item-link:active {
    color: rgba(255,255,255,.5) !important;
}

.container a:hover {
    text-decoration: none;
}

.row {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: linear-gradient(to right, rgba(0,204,153,.75),rgba(0,204,153,1),rgba(0,204,153,.75));
    border-radius: 10px;
}

.row .btn {
    margin: .5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    color: #00664d;
}

input[type="file"] {
    color: white;
}

form a {
    color: white !important;
}

form a:hover {
    text-decoration: none;
    color: rgba(255,255,255,.75) !important;
}

form a:active {
    color: rgba(255,255,255,.5) !important;
}

form button {
    margin-top: 2rem;
    width: 50%;
}

::-webkit-file-upload-button {
    background-color: #f1a34f;
    color: white;
    border-radius: 5px;
    border: none;
    padding: .5rem 1rem;
    box-shadow: 2px 2px 2px rgba(0,51,38,.25);
}

::-webkit-file-upload-button:hover {
    background-color: #ee902b;
}

::-webkit-file-upload-button:active {
    background-color: #d47611;
}

::-ms-browse {
    background-color: #f1a34f;
    color: white;
    border-radius: 5px;
    border: none;
    padding: .5rem 1rem;
    box-shadow: 2px 2px 2px rgba(0,51,38,.25);
}

::-ms-browse:hover {
    background-color: #ee902b;
}

::-ms-browse:active {
    background-color: #d47611;
}

label {
    margin-top: 1rem;
}

input, select {
    border-radius: 5px;
    border: none;
}

textarea {
    border-radius: 5px;
    border: none;
}

.btn {
    border: none !important;
    box-shadow: 2px 2px 2px rgba(0,51,38,.25);
}

.btn-primary {
    background-color: #00ace6 !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #0099cc !important;
    color: white !important;
}

.btn-primary:active, .active {
    background-color: #007399 !important;
    color: white !important;
}

.btn-success {
    background-color: #00b386 !important;
    color: white !important;
}

.btn-success:hover {
    background-color: #009973 !important;
    color: white !important;
}

.btn-success:active {
    background-color: #00664d !important;
    color: white !important;
}

.btn-danger {
    background-color: #ff5b38 !important;
    color: white !important;
}

.btn-danger:hover {
    background-color: #ff2f00 !important;
    color: white !important;
}

.btn-danger:active {
    background-color: #cc2500 !important;
    color: white !important;
}

.btn-warning {
    background-color: #f1a34f !important;
    color: white !important;
}

.btn-warning:hover {
    background-color: #ee902b !important;
    color: white !important;
}

.btn-warning:active {
    background-color: #d47611 !important;
    color: white !important;
}

#delete_form .btn {
    width: 30%;
}

#delete_form a {
    color: white !important;
}

#delete_form a:hover {
    color: white !important;
}

#delete_form a:active {
    color: white !important;
}

span.helptext {
    margin-top: 0;
    margin-bottom: 1rem;
}

span.helptext ul {
    margin: 0;
}

.errorlist {
    color: #cc2500;
    margin: 0;
}

@media (max-device-width: 768px) {

    .container {
        width: 90% !important;
        margin: 0 auto !important;
        padding: 0 !important;
    }

    .row {
        margin: 0 auto !important;
        width: 100% !important;
        margin-top: 1.5rem !important;
    }

    .row .btn {
        margin: 0 auto;
        margin-top: .5rem;
    }

    img {
        width: 100%;
        height: 100%;
    }
}